# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
HeightMapWin/.vs/HeightMapWin/v15/.suo
HeightMapWin/.vs/HeightMapWin/v15/Server/sqlite3/db.lock
HeightMapWin/.vs/HeightMapWin/v15/Server/sqlite3/storage.ide
HeightMapWin/.vs/HeightMapWin/v15/Server/sqlite3/storage.ide-shm
HeightMapWin/.vs/HeightMapWin/v15/Server/sqlite3/storage.ide-wal
HeightMapWin/bin/Debug/HeightMapWin.dat
HeightMapWin/bin/Debug/HeightMapWin.pdb
HeightMapWin/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HeightMapWin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HeightMapWin/obj/Debug/HeightMapWin.csproj.CoreCompileInputs.cache
HeightMapWin/obj/Debug/HeightMapWin.csproj.FileListAbsolute.txt
HeightMapWin/obj/Debug/HeightMapWin.csproj.GenerateResource.cache
HeightMapWin/obj/Debug/HeightMapWin.csprojResolveAssemblyReference.cache
HeightMapWin/obj/Debug/HeightMapWin.pdb
HeightMapWin/obj/Debug/HeightMapWin.Properties.Resources.resources
HeightMapWin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HeightMapWin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HeightMapWin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
